.Kinolist {
    max-height: 200px;
    overflow-y: auto;
    transform: translateY(-10px);
}

.KinolistBackdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}